<!DOCTYPE html>
<html>
<head>

    <!-- insert first jquery  -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- insert next js -->
    @*<script src="~/lib/JsEmployee/JavaScript_Api.js"></script>*@
    <!-- insert next bootrap -->
    <link href="~/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="~/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        @*carousel*@
        <div id="carouselPlace" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselPlace" data-slide-to="0" class="active"></li>
                <li data-target="#carouselPlace" data-slide-to="1"></li>
                <li data-target="#carouselPlace" data-slide-to="2"></li>
                <li data-target="#carouselPlace" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block vw-100" src="~/Img/hcm.jpg">
                    <div class="carousel-caption">
                        <h1 class="display-2">Chọn chuyến đi của bạn</h1>
                        <button type="button" class="btn btn-outline-light btn-lg">
                            Xem địa điểm
                        </button>
                        <button type="button" class="btn btn-primary btn-lg">Đặt vé</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Img/hanoi.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Img/danang.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Img/nhatrang.jpg">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselPlace" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        @*form dat ve*@
   
    </div>
</body>
</html>